<%- include('../partials/header', { title: 'Add Flights' }) %>

<h2 class="h2">New Flight</h2>
<form action="/flights" method="POST" class="addflight">

    <label>Airport:
        <select name="airport" id="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
    </label>

    <label>Airline:
        <select name="airline" id="airline">
            <option value="United">United</option>
            <option value="Southwest">Southwest</option>
            <option value="Delta">Delta</option>
            <option value="Spirit">Spirit</option>
            <option value="Frontier">Frontier</option>
        </select>
    </label>

    <label for="flightNo">Flight Number:</label>
    <input type="number" name="flightNo" id="flightNo" min="10" max="9999" required>

    <label for="departs">Departure Date:</label>
    <input type="datetime-local" name="departs" id="departs" value="T00" required>

    <a href="/"><button type='submit'>Submit</button></a>
</form>

<%- include('../partials/footer') %>


