
<h2>Add a New Flight</h2>
<form action="/flights" method="POST">

    <label>Airport:
        <select name="airport" id="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
    </label>

    <label>Airline:
        <select name="airline" id="airline">
            <option value="united">United</option>
            <option value="southwest">Southwest</option>
            <option value="delta">Delta</option>
            <option value="spirit">Spirit</option>
            <option value="frontier">Frontier</option>
        </select>
    </label>

    <label for="flightNo">Flight Number:</label>
    <input type="number" name="flightNo" id="flightNo" min="10" max="999" required>

    <label for="departs">Departure Date:</label>
    <input type="datetime-local" name="departs" id="departs" value="T00:00" required>

    <a href="/"><button type='submit'>submit</button></a>
</form>


