<%- include('../partials/header', { title: 'Add Flights' }) %>

<h2 class="h2">New Flight</h2>
<form action="/flights" method="POST" class="addflight" id="flight-form">

    <label>Airport:
        <select name="airport" id="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
    </label>

    <label>Airline:
        <select name="airline" id="airline">
            <option value="United">United</option>
            <option value="Southwest">Southwest</option>
            <option value="Delta">Delta</option>
            <option value="Spirit">Spirit</option>
            <option value="Frontier">Frontier</option>
            <option value="American">American</option>
        </select>
    </label>

    <label for="flightNo">Flight Number:</label>
    <input type="number" name="flightNo" id="flightNo" min="10" max="9999" required>

    <label for="departs">Departure Date:</label>
    <input type="datetime-local" name="departs" id="departs" value="T00" required>

    <a href="/"><button type='submit'>Submit</button></a>
</form>

<h2 class="ticket-title">Add Ticket</h2>
<form action="/flights/<%= flight._id %>/tickets" method="POST" id="ticket-form">
    <input type="hidden" name="flight" value="<%= flight._id %>">
    <label for="seat">Seat:</label>
    <input type="text" id="seat" name="seat" required pattern="[A-F][1-9]\d?">
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" min="0" required>
    <button type="submit">Add Ticket</button>
</form>

<%- include('../partials/footer') %>


